footer {
    margin: 3rem 0 0;
    background: $main-color url("../img/bg.png") left 2rem;
    overflow: hidden;
    text-align: center;

    a {
        color: #fff;
        font-size: 2.6rem;
        font-weight: bold;
        text-decoration: underline;
        display: inline-block;
        margin: 1rem auto 5rem auto;

        &:hover, &:focus {
            color: #fff;
            text-decoration: none;
        }

        &.__envelope {
            margin: 5rem auto 0;
            font-size: 2rem;
            &:before {
                margin-bottom: 1rem;
            }
        }
    }
}

@media (max-width: $screen-xs) {
    footer {
        a {
            font-size: 2.4rem;
        }
    }
}
